@font-face {
    font-family: 'Unione Black Rounded';
    src: url('Unione-Black-Rounded.eot');
    src: local('Unione Black Rounded'), local('Unione-Black-Rounded'),
        url('Unione-Black-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Black-Rounded.woff2') format('woff2'),
        url('Unione-Black-Rounded.woff') format('woff'),
        url('Unione-Black-Rounded.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Black Oblique';
    src: url('Unione-Black-Oblique.eot');
    src: local('Unione Black Oblique'), local('Unione-Black-Oblique'),
        url('Unione-Black-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Unione-Black-Oblique.woff2') format('woff2'),
        url('Unione-Black-Oblique.woff') format('woff'),
        url('Unione-Black-Oblique.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Unione';
    src: url('Unione-Black.eot');
    src: local('Unione Black'), local('Unione-Black'),
        url('Unione-Black.eot?#iefix') format('embedded-opentype'),
        url('Unione-Black.woff2') format('woff2'),
        url('Unione-Black.woff') format('woff'),
        url('Unione-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Black Oblique Rounded';
    src: url('Unione-Black-Oblique-Rounded.eot');
    src: local('Unione Black Oblique Rounded'), local('Unione-Black-Oblique-Rounded'),
        url('Unione-Black-Oblique-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Black-Oblique-Rounded.woff2') format('woff2'),
        url('Unione-Black-Oblique-Rounded.woff') format('woff'),
        url('Unione-Black-Oblique-Rounded.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Bold Oblique';
    src: url('Unione-Bold-Oblique.eot');
    src: local('Unione Bold Oblique'), local('Unione-Bold-Oblique'),
        url('Unione-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Unione-Bold-Oblique.woff2') format('woff2'),
        url('Unione-Bold-Oblique.woff') format('woff'),
        url('Unione-Bold-Oblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unione';
    src: url('Unione-Bold.eot');
    src: local('Unione Bold'), local('Unione-Bold'),
        url('Unione-Bold.eot?#iefix') format('embedded-opentype'),
        url('Unione-Bold.woff2') format('woff2'),
        url('Unione-Bold.woff') format('woff'),
        url('Unione-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Extra Light Rounded';
    src: url('Unione-ExtraLight-Rounded.eot');
    src: local('Unione Extra Light Rounded'), local('Unione-ExtraLight-Rounded'),
        url('Unione-ExtraLight-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-ExtraLight-Rounded.woff2') format('woff2'),
        url('Unione-ExtraLight-Rounded.woff') format('woff'),
        url('Unione-ExtraLight-Rounded.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Extra Light Oblique Rounded';
    src: url('Unione-ExtraLight-Oblique-Rounded.eot');
    src: local('Unione Extra Light Oblique Rounded'), local('Unione-ExtraLight-Oblique-Rounded'),
        url('Unione-ExtraLight-Oblique-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-ExtraLight-Oblique-Rounded.woff2') format('woff2'),
        url('Unione-ExtraLight-Oblique-Rounded.woff') format('woff'),
        url('Unione-ExtraLight-Oblique-Rounded.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Bold Rounded';
    src: url('Unione-Bold-Rounded.eot');
    src: local('Unione Bold Rounded'), local('Unione-Bold-Rounded'),
        url('Unione-Bold-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Bold-Rounded.woff2') format('woff2'),
        url('Unione-Bold-Rounded.woff') format('woff'),
        url('Unione-Bold-Rounded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Extra';
    src: url('Unione-ExtraLight.eot');
    src: local('Unione Extra Light'), local('Unione-ExtraLight'),
        url('Unione-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Unione-ExtraLight.woff2') format('woff2'),
        url('Unione-ExtraLight.woff') format('woff'),
        url('Unione-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Bold Oblique Rounded';
    src: url('Unione-Bold-Oblique-Rounded.eot');
    src: local('Unione Bold Oblique Rounded'), local('Unione-Bold-Oblique-Rounded'),
        url('Unione-Bold-Oblique-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Bold-Oblique-Rounded.woff2') format('woff2'),
        url('Unione-Bold-Oblique-Rounded.woff') format('woff'),
        url('Unione-Bold-Oblique-Rounded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Extra Light Oblique';
    src: url('Unione-ExtraLight-Oblique.eot');
    src: local('Unione Extra Light Oblique'), local('Unione-ExtraLight-Oblique'),
        url('Unione-ExtraLight-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Unione-ExtraLight-Oblique.woff2') format('woff2'),
        url('Unione-ExtraLight-Oblique.woff') format('woff'),
        url('Unione-ExtraLight-Oblique.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Light Rounded';
    src: url('Unione-Light-Rounded.eot');
    src: local('Unione Light Rounded'), local('Unione-Light-Rounded'),
        url('Unione-Light-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Light-Rounded.woff2') format('woff2'),
        url('Unione-Light-Rounded.woff') format('woff'),
        url('Unione-Light-Rounded.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Medium Oblique Rounded';
    src: url('Unione-Medium-Oblique-Rounded.eot');
    src: local('Unione Medium Oblique Rounded'), local('Unione-Medium-Oblique-Rounded'),
        url('Unione-Medium-Oblique-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Medium-Oblique-Rounded.woff2') format('woff2'),
        url('Unione-Medium-Oblique-Rounded.woff') format('woff'),
        url('Unione-Medium-Oblique-Rounded.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Light Oblique Rounded';
    src: url('Unione-Light-Oblique-Rounded.eot');
    src: local('Unione Light Oblique Rounded'), local('Unione-Light-Oblique-Rounded'),
        url('Unione-Light-Oblique-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Light-Oblique-Rounded.woff2') format('woff2'),
        url('Unione-Light-Oblique-Rounded.woff') format('woff'),
        url('Unione-Light-Oblique-Rounded.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Medium Rounded';
    src: url('Unione-Medium-Rounded.eot');
    src: local('Unione Medium Rounded'), local('Unione-Medium-Rounded'),
        url('Unione-Medium-Rounded.eot?#iefix') format('embedded-opentype'),
        url('Unione-Medium-Rounded.woff2') format('woff2'),
        url('Unione-Medium-Rounded.woff') format('woff'),
        url('Unione-Medium-Rounded.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Light Oblique';
    src: url('Unione-Light-Oblique.eot');
    src: local('Unione Light Oblique'), local('Unione-Light-Oblique'),
        url('Unione-Light-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Unione-Light-Oblique.woff2') format('woff2'),
        url('Unione-Light-Oblique.woff') format('woff'),
        url('Unione-Light-Oblique.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Unione';
    src: url('Unione-Light.eot');
    src: local('Unione Light'), local('Unione-Light'),
        url('Unione-Light.eot?#iefix') format('embedded-opentype'),
        url('Unione-Light.woff2') format('woff2'),
        url('Unione-Light.woff') format('woff'),
        url('Unione-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Unione Medium Oblique';
    src: url('Unione-Medium-Oblique.eot');
    src: local('Unione Medium Oblique'), local('Unione-Medium-Oblique'),
        url('Unione-Medium-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Unione-Medium-Oblique.woff2') format('woff2'),
        url('Unione-Medium-Oblique.woff') format('woff'),
        url('Unione-Medium-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Unione';
    src: url('Unione-Medium.eot');
    src: local('Unione Medium'), local('Unione-Medium'),
        url('Unione-Medium.eot?#iefix') format('embedded-opentype'),
        url('Unione-Medium.woff2') format('woff2'),
        url('Unione-Medium.woff') format('woff'),
        url('Unione-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

